@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======= Typography */
/* line 2, ../sass/_typography.sass */
p {
  font-size: 1.4rem;
  line-height: 2.24rem;
  color: #6c7279;
}

/* line 7, ../sass/_typography.sass */
h1 {
  font-size: 3.6rem;
  color: #fff;
}

/* line 11, ../sass/_typography.sass */
h2 {
  font-size: 1.8rem;
  color: #16a085;
}

/* line 15, ../sass/_typography.sass */
h3 {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
}

/* line 20, ../sass/_typography.sass */
h4 {
  font-size: 1.2rem;
  color: #2d3033;
  font-weight: 400;
}

/* line 25, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
}

/* line 6, ../sass/style.sass */
.button {
  text-transform: uppercase;
  display: inline-block;
  background-color: #1abc9c;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 20px 30px;
  margin-bottom: 3%;
}
/* line 19, ../sass/style.sass */
.button:hover {
  background-color: #16a085;
}

/* line 22, ../sass/style.sass */
body {
  font-size: 62.5%;
  font-family: "Varela Round", sans-serif;
}

/* line 26, ../sass/style.sass */
#header {
  background-image: url(../img/header_bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  height: 100vh;
}

/* line 33, ../sass/style.sass */
ul.nav-menu {
  margin: 2% 0;
  text-align: center;
}
/* line 36, ../sass/style.sass */
ul.nav-menu li {
  display: inline-block;
  margin-right: 6%;
}
/* line 39, ../sass/style.sass */
ul.nav-menu li:last-child {
  margin-right: 0;
}
/* line 41, ../sass/style.sass */
ul.nav-menu li img {
  vertical-align: middle;
}
/* line 43, ../sass/style.sass */
ul.nav-menu li a {
  font-size: 1.4rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 48, ../sass/style.sass */
.header-center-title {
  text-align: center;
  margin-top: 30vh;
  margin-bottom: 1vh;
}
/* line 52, ../sass/style.sass */
.header-center-title h1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  padding: 1% 0;
}
/* line 57, ../sass/style.sass */
.header-center-title h3 {
  padding-top: 0.5%;
}

/* line 59, ../sass/style.sass */
.header-center-button {
  text-align: center;
  margin: 3vh 0;
}

/* line 62, ../sass/style.sass */
.socials {
  text-align: center;
  margin-top: 28vh;
  bottom: 10px;
}
/* line 67, ../sass/style.sass */
.socials ul.socials-socbuttons li {
  display: inline-block;
  margin: 0 1%;
}
/* line 70, ../sass/style.sass */
.socials ul.socials-socbuttons a {
  font-size: 1.4rem;
  color: #fff;
}

/* line 73, ../sass/style.sass */
.section-padding {
  padding: 4% 0;
}

/* line 75, ../sass/style.sass */
.section-title {
  text-align: left;
  text-transform: uppercase;
  margin: 4% 0;
}
/* line 79, ../sass/style.sass */
.section-title h2 {
  font-weight: 700;
  letter-spacing: 5px;
  line-height: 2.24rem;
}

/* line 84, ../sass/style.sass */
.section-title-black h2 {
  color: #111111;
}

/* line 86, ../sass/style.sass */
.section-text {
  margin: 5% 0 10%;
}

/* line 89, ../sass/style.sass */
#second {
  background-color: #f5f6f7;
  position: relative;
}

/* line 92, ../sass/style.sass */
.hand-with-phones {
  position: absolute;
  height: 430px;
  overflow: hidden;
  bottom: 0;
  right: 0;
  margin-right: 13%;
}

/* line 99, ../sass/style.sass */
.section-logo {
  text-align: center;
}
/* line 101, ../sass/style.sass */
.section-logo h4 {
  text-transform: uppercase;
  padding: 6% 0;
  font-weight: 700;
  letter-spacing: 3px;
}
/* line 106, ../sass/style.sass */
.section-logo p {
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 2px;
}

/* line 110, ../sass/style.sass */
#third {
  position: relative;
}
/* line 112, ../sass/style.sass */
#third .phones-mockUps {
  position: absolute;
  height: 446px;
  overflow: hidden;
  margin-left: 13%;
  bottom: 0;
}

/* line 118, ../sass/style.sass */
.slider1, .slider2, .slider {
  width: 600px;
  overflow: hidden;
}
/* line 122, ../sass/style.sass */
.slider1 .controls p, .slider2 .controls p, .slider .controls p {
  font-size: 1rem;
  color: #000000;
}
/* line 125, ../sass/style.sass */
.slider1 .controls .fa, .slider2 .controls .fa, .slider .controls .fa {
  font-size: 1.5rem;
  margin-right: 2%;
  cursor: pointer;
}
/* line 129, ../sass/style.sass */
.slider1 ul, .slider2 ul, .slider ul {
  padding: 0;
  margin: 0;
  width: 9999px;
}
/* line 133, ../sass/style.sass */
.slider1 ul [class*='slider-item'], .slider2 ul [class*='slider-item'], .slider ul [class*='slider-item'] {
  width: 600px;
  display: inline-block;
}

/* line 136, ../sass/style.sass */
.slider1 {
  width: 800px;
}
/* line 138, ../sass/style.sass */
.slider1 img {
  max-width: 100%;
}
/* line 141, ../sass/style.sass */
.slider1 ul [class*='slider-item'] {
  width: 400px;
}

/* line 143, ../sass/style.sass */
#fourth {
  background-color: #f5f6f7;
}

/* line 145, ../sass/style.sass */
#fifth {
  position: relative;
  background-image: url(../img/subscribe-bg.jpg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
/* line 150, ../sass/style.sass */
#fifth .subscribe {
  display: inline-block;
  line-height: normal;
  height: 60px;
  padding-right: 82px;
  min-width: 260px;
  max-width: 400px;
}
/* line 157, ../sass/style.sass */
#fifth .subscribe-button {
  display: inline-block;
  height: 60px;
  width: 82px;
  outline: medium;
  border: 0;
  margin-left: -82px;
  line-height: 1.3;
  margin-bottom: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 176, ../sass/style.sass */
.stripes {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) 2px, rgba(33, 33, 33, 0.5) 4px, rgba(22, 22, 22, 0.5) 10px);
}

/* line 181, ../sass/style.sass */
.fifth-inner {
  text-align: center;
  margin: 20% 0;
}
/* line 184, ../sass/style.sass */
.fifth-inner h1 {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}
/* line 188, ../sass/style.sass */
.fifth-inner input {
  color: #111;
  padding: 20px 22px;
  font-size: 1.4rem;
  width: 20%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: none;
}

/* line 198, ../sass/style.sass */
#sixth {
  background-color: #f5f6f7;
}
/* line 200, ../sass/style.sass */
#sixth .section-title {
  text-align: center;
  margin: 0;
}
/* line 203, ../sass/style.sass */
#sixth .section-text {
  text-align: center;
  margin: 5% 0 5%;
}

/* line 208, ../sass/style.sass */
.download-buttons .download-button-appleStore {
  float: right;
}
/* line 210, ../sass/style.sass */
.download-buttons .download-button-playStore {
  float: left;
}
/* line 212, ../sass/style.sass */
.download-buttons a {
  position: relative;
  width: 300px;
}
/* line 215, ../sass/style.sass */
.download-buttons a:hover {
  background: #16a085;
}
/* line 217, ../sass/style.sass */
.download-buttons .download-button-icon {
  position: absolute;
  background-color: #16a085;
  height: 100%;
  right: 0;
  top: 0;
  padding: 20px 30px;
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* line 231, ../sass/style.sass */
footer {
  padding: 1% 0;
}
/* line 235, ../sass/style.sass */
footer ul.nav-menu-footer li a {
  font-size: 1rem;
  color: #111;
}
/* line 238, ../sass/style.sass */
footer ul.nav-menu-footer li:not(:last-child):after {
  content: "|";
  color: #16a085;
  font-size: 1rem;
  padding-right: 50%;
  padding-left: 40%;
  font-weight: bold;
}
/* line 245, ../sass/style.sass */
footer .section-logo-footer {
  vertical-align: middle;
}

/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
  /* line 6, ../sass/_media.sass */
  .hand-with-phones {
    margin-right: 3%;
  }

  /* line 8, ../sass/_media.sass */
  #third .phones-mockUps {
    margin-left: 6%;
  }

  /* line 10, ../sass/_media.sass */
  .slider {
    width: 450px;
  }
  /* line 13, ../sass/_media.sass */
  .slider ul [class*='slider-item'] {
    width: 450px;
  }

  /* line 15, ../sass/_media.sass */
  .slider1 {
    width: 600px;
  }
  /* line 17, ../sass/_media.sass */
  .slider1 img {
    max-width: 100%;
  }
  /* line 20, ../sass/_media.sass */
  .slider1 ul [class*='slider-item'] {
    width: 300px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
  /* line 27, ../sass/_media.sass */
  .slider {
    width: 700px;
  }
  /* line 30, ../sass/_media.sass */
  .slider ul [class*='slider-item'] {
    width: 700px;
  }

  /* line 32, ../sass/_media.sass */
  .slider1 {
    width: 700px;
    margin: 0 auto;
  }
  /* line 36, ../sass/_media.sass */
  .slider1 ul [class*='slider-item'] {
    width: 350px;
  }

  /* line 39, ../sass/_media.sass */
  .section-logo h4 {
    padding: 3% 0;
  }

  /* line 41, ../sass/_media.sass */
  .section-title {
    margin: 2% 0;
  }

  /* line 43, ../sass/_media.sass */
  .section-text {
    margin: 3% 0 10%;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
  /* line 48, ../sass/_media.sass */
  h1 {
    font-size: 2rem;
  }

  /* line 50, ../sass/_media.sass */
  .nav-burger {
    display: block;
    position: fixed;
    z-index: 20;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #1abc9c;
    top: 15px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  /* line 62, ../sass/_media.sass */
  .nav-burger:hover {
    background-color: #16a085;
  }
  /* line 64, ../sass/_media.sass */
  .nav-burger span {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    display: block;
    content: "";
    width: 80%;
    height: 4px;
    background-color: #fff;
    margin: 6px auto;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  /* line 79, ../sass/_media.sass */
  .nav-burger span:first-child {
    margin-top: 26%;
  }

  /* line 81, ../sass/_media.sass */
  .nav-bar {
    position: relative;
  }

  /* line 83, ../sass/_media.sass */
  ul.nav-menu {
    z-index: 18;
    margin: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
  }
  /* line 92, ../sass/_media.sass */
  ul.nav-menu li {
    display: block;
    margin: 0;
    float: none;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  /* line 98, ../sass/_media.sass */
  ul.nav-menu li:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  /* line 100, ../sass/_media.sass */
  ul.nav-menu li:first-child {
    margin-top: 22%;
  }
  /* line 102, ../sass/_media.sass */
  ul.nav-menu li a {
    display: block;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  /* line 107, ../sass/_media.sass */
  .slider {
    width: 400px;
  }
  /* line 110, ../sass/_media.sass */
  .slider ul [class*='slider-item'] {
    width: 400px;
  }

  /* line 112, ../sass/_media.sass */
  .slider1 {
    width: 400px;
    margin: 0 auto;
  }
  /* line 116, ../sass/_media.sass */
  .slider1 ul [class*='slider-item'] {
    width: 400px;
  }

  /* line 119, ../sass/_media.sass */
  .download-buttons .download-button-appleStore {
    float: none;
  }
  /* line 121, ../sass/_media.sass */
  .download-buttons .download-button-playStore {
    float: none;
  }

  /* line 124, ../sass/_media.sass */
  .download-buttons a {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  /* line 130, ../sass/_media.sass */
  footer ul.nav-menu-footer li {
    margin-right: 3%;
  }
  /* line 132, ../sass/_media.sass */
  footer ul.nav-menu-footer li:not(:last-child):after {
    content: "|";
    color: #16a085;
    font-size: 1rem;
    padding-right: 5%;
    padding-left: 10%;
    font-weight: bold;
  }
  /* line 139, ../sass/_media.sass */
  footer p {
    font-size: 1rem;
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
  /* line 145, ../sass/_media.sass */
  .socials {
    margin-top: 24vh;
  }

  /* line 147, ../sass/_media.sass */
  .slider1 {
    width: 280px;
  }
  /* line 149, ../sass/_media.sass */
  .slider1 img {
    max-width: 100%;
  }
  /* line 152, ../sass/_media.sass */
  .slider1 ul [class*='slider-item'] {
    width: 280px;
  }

  /* line 154, ../sass/_media.sass */
  .slider {
    width: 260px;
  }
  /* line 157, ../sass/_media.sass */
  .slider ul [class*='slider-item'] {
    width: 260px;
  }

  /* line 160, ../sass/_media.sass */
  .download-buttons a {
    position: relative;
    width: 240px;
  }
  /* line 163, ../sass/_media.sass */
  .download-buttons .download-button-icon {
    padding: 20px 16px;
  }

  /* line 167, ../sass/_media.sass */
  footer ul.nav-menu-footer li {
    margin-right: 5px;
  }
  /* line 169, ../sass/_media.sass */
  footer ul.nav-menu-footer li:not(:last-child):after {
    content: "|";
    color: #16a085;
    font-size: 1rem;
    padding-right: 1%;
    padding-left: 10px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
  /* */
  /* line 179, ../sass/_media.sass */
  .socials {
    margin-top: 8vh;
  }

  /* line 183, ../sass/_media.sass */
  ul.nav-menu li:first-child {
    margin-top: 0;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
  /* line 189, ../sass/_media.sass */
  .socials {
    margin-top: 12vh;
  }
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
